<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gmail Cleaner - Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <style>
      #console-log {
        height: 300px; /* Set a fixed height */
        overflow-y: auto; /* Enable vertical scrolling */
        background: #222;
        color: #00ff00;
        padding: 10px;
        font-family: monospace;
        border-radius: 5px;
        white-space: pre-line; /* Preserve line breaks */
      }
    </style>
  </head>
  <body class="section">
    <div class="container">
      <h1 class="title">📬 Gmail Cleaner Dashboard</h1>
      <p>
        Welcome! You are now authenticated. Clicking the set-up button creates
        the "Important Address" label in your Gmail account. Add this label to
        any email from a sender you want the cleaner to ignore. The cleaner will
        also ignore any email flagged as important by Gmail.
      </p>
      <br />
      <p>
        Scroll down to set up the bot, select the labels/categories you want to
        clean on the left, and specify the age of the emails you want to delete
        on the right. You can set a date range or specify a number of days old.
        If you want to delete all emails, check the "No Date Restriction" box.
      </p>
      <br />
      <p>When you are all set, click the button to run the bot.</p>
      <br />
      <button id="gmail-set-up" class="button is-info" onclick="gmailSetUp()">
        Set up
      </button>

      <div class="box mt-4">
        <h2 class="subtitle">📜 Bot Log:</h2>
        <div id="console-log" class="box is-family-monospace"></div>
      </div>

      <button id="run-bot" class="button is-primary" onclick="runBot()">
        Run Bot
      </button>
      <br />

      <div class="box mt-4">
        <h3 class="title has-text-centered">⚙️ Parameter Setup:</h3>
        <hr class="has-background-grey my-4" />
        <div class="columns">
          <div class="column">
            <label class="checkbox" id="label-selection">
              <div id="labels-container"></div>
            </label>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Days Old</label>
              <div class="control">
                <input
                  id="days-old"
                  class="input"
                  type="number"
                  placeholder="Enter days old"
                  min="0"
                  oninput="updateDateFromDays()"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Before Date</label>
              <div class="control">
                <input
                  id="before-date"
                  class="input"
                  type="date"
                  oninput="updateDaysFromDate()"
                />
              </div>
            </div>

            <div class="field">
              <label class="checkbox">
                <input
                  id="no-date-restriction"
                  type="checkbox"
                  onclick="toggleDateRestriction()"
                />
                No Date Restriction
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
  </body>
</html>
