<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gmail Cleaner - Welcome</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body class="section">
    <div class="container">
      <h1 class="title">📬 Gmail Cleaner</h1>
      <p>
        Set parameters to help you clean your inbox by automatically deleting unwanted
        emails.
      </p>
      <p>To use the cleaner, please sign in with your Google account.</p>
    </br>
      <a href="/auth">
        <button id="sign-in" class="button is is-link">Sign in with Google</button>
      </a>
  </body>
</html>
